[alias]
    lg1 = !" git --no-pager log --graph --abbrev-commit --decorate --format=format:'%C(bold     blue)%h%C(reset) - %C(bold green)(%ar)%C(reset)%C(white)%s%C(reset) %C(dim white)- %an%C(res    et)%C(bold yellow)%d%C(reset)' --all"

[core]
    pager = less -F -X  # No pager for default.
